$color: aquamarine;

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    display: inline-block;
}

header {
    margin: 0 auto;
    background-color: $color;
    width: 100%;
    height: 4.5em;

    h2 {
        float: left;
        margin-left: 0.5em
    }

    nav{
        float: right;
        margin-top: 10px;
        margin-right: 20px;
    }

    a{
        color: black;
        font-size: 15px;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

.grid{
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-column-gap: 12em;

    .section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .article{
        h2{
            font-style: oblique;
        }
    }
    
}